<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%- include('../partials/head', {}); %>
<title>Edit Cars</title>
</head>
<body>
<%- include('../partials/editBody', { infoCoche: infoCoche, error: error }); %>
<%- include('../partials/menu', {}); %>
</body>
</html>